{% extends "base.html" %} {% block title %}DolphinNotePad-Notes{% endblock %} {% block content
%}
<style>
  #note{
    height: 200px;
    width: 1112px;
  }
</style>
<h1 align='center'><font color='red'><b> DolphinNotePad</b></font></h1>
<h1 align="center"><font color='blue'>Notes</font></h1>
<br />
<font type="hindi">
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
</font>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
