{% extends "base.html" %} {% block title %}DolphinNotePad{% endblock %} {% block content
%}
<p>
<br />
<br />
<h1 align="center"><b><img src="http://icons.iconarchive.com/icons/martz90/circle/512/dolphin-icon.png" width="50" height="50"><font color='blue'>  Welcome to DolphinNotePad</b></font></h1>
<br />
<center><h2><p><font color='green'><b><i>"The simplest way to keep notes <br/>
All your notes, synced on all your devices.<br /> Get DolphinNotePad now for iOS, Android, Mac, Windows, Linux, or in your browser."</i></b></font></p></h2></center>
<br />
<center><h2><p><font color ='red'><b><i>"Save your thoughts,<br />wherever You are<br />in<br />your digital notebook"</i></b></font></p></h2></center>
<br />
<center><h2><p><font color='blue'><b><i>"Use DolphinNotePad to create quick checklists <br />and take unlimited notes in any browser."</i></b></font></p></h2></center>
<br/>
<center><h2 class='primary'><p><font color=' blue'><b><i>"Accomplish more with better notes."</i></b></font></p></h2></center>
<br />
<p/>
<center>
    <button type="submit" border = "90000000000000000000000000000000000000000000" >
        <h2><a class="nav-item nav-link" id="signUp" href="/sign-up"><b>Sign Up </b></a></h2>
    </button>
    <button type="submit" border = "90000000000000000000000000000000000000000000"> 
        <h2><a class="nav-item nav-link" id="login" href="/login"><b>Login</b></a></h2>
    </button>
</center>
<br/>
</form>
{% endblock %}
